h1 {
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 10px;
}

h2 {
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 10px;
}

h3 {
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}

.small-description {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  margin-bottom: 10px;
}

.item-description {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.highlight-text {
  color: #B00D1C;
  text-shadow: -3px 1px black;
}

.navbar {
  height: 72px;
  padding: 0 64px 0 64px;
}
.navbar-container {
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-content: space-between;
}
.navbar-container .logo {
  background-image: url(/images/byte-web-logo.svg);
  width: 123px;
  height: 38px;
}
.navbar-container .nav-links {
  display: flex;
  align-items: center;
  gap: 32px;
}
.navbar-container .nav-links .link {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.header {
  height: 740px;
  padding: 0px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  flex-shrink: 0;
}
.header-container {
  display: flex;
  align-items: center;
  align-self: stretch;
}
.header-container .content-column {
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
  width: 576px;
  height: 216px;
}
.header-container .content-column .header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.header-container .content-column .header-content p {
  margin: 10px 0 5px 0;
}
.header-container .content-column .header-content .cta {
  display: flex;
  padding-top: 16px;
  align-items: flex-start;
  gap: 16px;
}
.header-container .image-column {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  height: 900px;
  width: 500px;
}
.header-container .image-column-1 {
  display: flex;
  width: 319.253px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.header-container .image-column-1 .header-image-1 {
  width: 319.25px;
  height: 168.25px;
  transform: rotate(0.23deg);
  flex-shrink: 0;
  align-self: stretch;
  background-image: url(/images/Image-1.svg);
}
.header-container .image-column-1 .header-image-2 {
  height: 300px;
  width: 319.25px;
  flex-shrink: 0;
  align-self: stretch;
  background-image: url(/images/Image-2.svg);
}
.header-container .image-column-1 .header-image-3 {
  height: 168.25px;
  width: 319.25;
  flex-shrink: 0;
  align-self: stretch;
  background-image: url(/images/Image-3.svg);
}
.header-container .image-column-2 {
  display: flex;
  width: 319.253px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.header-container .image-column-2 .header-image-4 {
  height: 168.25px;
  flex-shrink: 0;
  align-self: stretch;
  background-image: url(/images/Image-4.svg);
}
.header-container .image-column-2 .header-image-5 {
  height: 300px;
  flex-shrink: 0;
  align-self: stretch;
  background-image: url(/images/Image-5.svg);
}
.header-container .image-column-2 .header-image-6 {
  height: 186px;
  flex-shrink: 0;
  align-self: stretch;
  background-image: url(/images/Image-6.svg);
}
.header-container .image-column .header-image-placeholder {
  width: 100%;
  height: 100%;
}

.cta-button {
  background-color: #B00D1C;
  color: #ffffff;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 15px;
  text-decoration: none;
  border: solid #000000 3px;
}

#how-it-works {
  display: flex;
  padding: 112px 64px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  height: 900px;
}
#how-it-works .how-it-works-content {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: 20px;
}
#how-it-works .how-it-works-content .content-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 10px 0 0;
  flex: 1 0 0;
  align-self: stretch;
}
#how-it-works .how-it-works-content .content-column .content-heading {
  align-self: stretch;
  width: 616px;
  height: 180px;
}
#how-it-works .how-it-works-content .timeline-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  width: 616px;
  height: 758px;
}
#how-it-works .how-it-works-content .timeline-column .timeline-item {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  width: 100%;
}
#how-it-works .how-it-works-content .timeline-column .timeline-item .timeline-icon {
  display: flex;
  align-items: center; /* Center items vertically */
  gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
}
#how-it-works .how-it-works-content .timeline-column .timeline-item .timeline-icon .box-icon {
  width: 48px;
  height: 48px;
  position: relative;
}
#how-it-works .how-it-works-content .timeline-column .timeline-item .timeline-icon .box-icon .vector {
  width: 36px;
  height: 40px;
  left: 6px;
  top: 4px;
  position: absolute;
  background: url(/images/Box-icon.svg);
}
#how-it-works .how-it-works-content .timeline-column .timeline-item .timeline-icon .divider {
  height: 100px;
  width: 2px;
  background: #000000;
}
#how-it-works .how-it-works-content .timeline-column .timeline-item .timeline-copy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
}
#how-it-works .how-it-works-content .timeline-column .timeline-item .step {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

#feature-section {
  padding: 50px 45px;
  border-radius: 50px;
  margin: 100px 50px 50px 50px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.62) 0%, rgba(0, 0, 0, 0.62) 100%), linear-gradient(80deg, #B00D1C -1.07%, rgba(176, 13, 28, 0) 42.28%), lightgray 50%/cover no-repeat;
}
#feature-section .feature-container {
  display: flex;
  align-items: center;
  gap: 80px;
  align-self: stretch;
}
#feature-section .feature-container .feature-content {
  display: flex;
  height: 337px;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  flex: 1 0 0;
}
#feature-section .feature-container .feature-content .content-column {
  flex: 1;
  color: white;
}
#feature-section .feature-container .feature-content .content-column .feature-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#feature-section .feature-container .feature-content .content-column .feature-list li {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}
#feature-section .feature-container .feature-content .content-column .feature-list li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/images/sm-box-icon.svg) no-repeat center;
  margin-right: 10px;
  border-radius: 4px;
}
#feature-section .feature-container .feature-content .image-column {
  max-width: 100%;
}
#feature-section .feature-container .feature-content .image-column .acc-image {
  height: 350px;
  width: 350px;
  border-radius: 10px;
  background: url(/images/accounting.png) no-repeat;
}

#cta-section {
  padding: 50px 45px;
  border-radius: 50px;
  margin: 100px 50px 50px 50px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.62) 0%, rgba(0, 0, 0, 0.62) 100%), linear-gradient(80deg, #B00D1C -1.07%, rgba(176, 13, 28, 0) 42.28%), lightgray 50%/cover no-repeat;
}
#cta-section .cta-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}
#cta-section .cta-container .cta-content {
  text-align: center;
  color: #ffffff;
}
#cta-section .cta-container .cta-content p {
  padding: 0 0 20px 0 !important;
}

#footer-section {
  margin: 100px 50px 50px 50px;
}
#footer-section .footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}
#footer-section .footer-container .footer-left .footer-logo {
  height: 85px;
  width: 275px;
  background: url("/images/byte-footer-logo.svg") no-repeat;
  background-size: cover;
}
#footer-section .footer-container .footer-right .newsletter-form {
  text-align: justify;
}
#footer-section .footer-container .footer-right .newsletter-form h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
#footer-section .footer-container .footer-right .newsletter-form form {
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer-section .footer-container .footer-right .newsletter-form form input {
  padding: 10px;
  margin-right: 10px;
  width: 250px;
}
#footer-section .footer-container .footer-right .newsletter-form form button {
  padding: 10px 20px;
  background-color: #B00D1C;
  color: white;
  cursor: pointer;
}
#footer-section .rights-reserved {
  margin-top: 20px;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */