.cta-button {
    background-color: $primary-color;
    color: $white-color;
    font-family: $heading-font;
    font-size: $link-font-size;
    font-weight: $bold;
    padding: 8px 16px;
    border-radius: 15px;
    text-decoration: none; 
}