
// H1 Styles
h1 {
  @include heading-styles;
  font-size: $heading-font-size;
  margin-bottom: 10px;
}

// H2 Styles
h2 {
  @include heading-styles;
  font-size: $section-heading-font-size;
  margin-bottom: 10px;
}
h3 {
  @include heading-styles;
  font-size: $large-font-size;
  margin-bottom: 10px;
}
h5{
  @include item-heading-styles;
  font-size: $small-font-size;
  color: $primary-color;
  margin-bottom: 10px;
}

// Paragraph Styles
p {
  font-family: $body-font;
  font-size: $description-font-size;
  margin-bottom: 20px;
}

// Small Paragraph Styles
.small-description {
  font-family: $body-font;
  font-size: $small-description-font-size;
  margin-bottom: 10px;
}
.item-description{
  font-family: $body-font;
  font-size: $small-font-size;
  margin-bottom:10px;
}

.highlight-text{
  color: $primary-color;
  text-shadow: -3px 1px black;
}